<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
    <!-- <link rel="stylesheet" href="css/general.css" />s -->
    <style>
        body {
            height: 100vh;
            width: 100%;
            overflow: scroll;
            display: flex;
            justify-content: space-between;
        }

        label {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .task {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
        }

        .task-input {
            border: none;
            font-weight: bold;
            width: 70vh;
        }

        input:focus, textarea:focus {
            outline: 0.5px dotted #C8C8C9;
        }

        .task__info-input {
            border: none;
            overflow: scroll;
            font-size: small;
            height: 10vh;
            width: 100%;
        }

        .same-line {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 1rem;
        }
    </style>
    <title>Document</title>
</head>
<body>
    <div>
        <div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary" style="width: 280px; height: 100%;">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
                <span class="fs-4">Lists</span>
            </a>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto" style="overflow: scroll;">
                <% if (locals.allTaskLists) { %>
                    <% for (let i = 0; i < allTaskLists.length; ++i) { %>
                    <li>
                        <a href="/tasklists/<%= allTaskLists[i].name %>" 
                            class="nav-link link-body-emphasis d-flex justify-content-between align-items-center"
                            style="border-bottom:0.5px dotted grey; border-radius: 0px;">
                            <%= allTaskLists[i].name.at(0).toUpperCase() +  allTaskLists[i].name.slice(1).split('_').join(' ')%>


                            <form method="POST" action="/tasklists/delete/<%= allTaskLists[i]._id %>">
                                <button class="btn input-group-text">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-square" viewBox="0 0 16 16">
                                        <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"></path>
                                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"></path>
                                    </svg>
                                </button>
                            </form>
                        </a>
                    </li>
                    <% } %>
                <% } %> 
            </ul>
            <hr>
            <div class="dropdown">
                <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
                <form class="same-line" method="POST" action="/tasklists">
                    <input placeholder="Add new list ..." name="name" class="form-control"/>
                        <button type="submit" class="btn btn-primary">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
                                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"></path>
                            </svg>
                        </button>
                </form>
            </div>
        </div>        
    </div>

    <% if (locals.tasks) { %>
        <div class="d-flex flex-column p-5 py-md-3" style="width:100%;">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
                <span class="fs-4"><%= `${taskList.at(0).toUpperCase()}${taskList.slice(1)}` %></span>
            </a>
            <hr>
            
            <div class="list-group" style="overflow: scroll;">
                <% for (let i = 0; i < tasks.length; ++i) { %>

                    <div class="list-group-item d-flex justify-content-between gap-3">
                        <div class="task">
                            <form method="POST" action="/tasklists/<%= taskList %>/tasks/<%= tasks[i]._id %>" class="d-flex gap-3">
                                <input class="form-check-input flex-shrink-0" type="checkbox" value="true" name="finished" style="font-size: 1.375em;" onchange="this.form.submit()" <% if (tasks[i].isChecked) { %> checked <% } %> >
                                <input class="task-input form-input flex-shrink-0" name="newTaskName" value="<%= tasks[i].name %>" onchange="this.form.submit()">
                            </form>
                        </div>

                        <div class="actions_on_task d-flex">
                            <form method="GET" action="/tasklists/<%= taskList %>/tasks/<%= tasks[i]._id %>">   
                                <button class="btn input-group-text">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-square" viewBox="0 0 16 16">
                                        <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                                        <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                                      </svg>
                                </button>
                            </form>
                        
                       
                         <!-- <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                            <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                          </svg> -->
                            <form method="POST" action="/tasklists/<%= taskList %>/tasks/delete/<%= tasks[i]._id %>">
                                <!-- <input type="submit" hidden> -->
                                <button class="btn input-group-text">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-square" viewBox="0 0 16 16">
                                        <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"></path>
                                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"></path>
                                    </svg>
                                </button>
                            </form>
                        </div>
                    </div>  
                <% } %>

              <label class="list-group-item d-flex gap-3 bg-body-tertiary">
                <div class="task">
                    <form class="same-line" method="POST" action="/tasklists/<%= taskList %>/tasks">
                        <input placeholder="Add new task..." name="taskname" class="form-control"/>
                        <button type="submit" class="btn btn-primary">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
                                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"></path>
                            </svg>
                        </button>
                    </form>
                </div>
              </label>
            </div>
          </div>
    <% } %>
     
    <% if (locals.taskInfo) { %>
      <div class="d-flex flex-column p-5 py-md-3" style="width:100%">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
            <span class="fs-4"><%= taskInfo.taskName %></span>
        </a>
        <hr>
        
        <div class="list-group">
            <form method="POST" action="/tasklists/<%= taskList %>/tasks/<%= taskInfo.taskId %>/info">
                <label class="list-group-item d-flex gap-3">
                    <span class="pt-1" >
                        <strong>Notes: </strong>
                        </br>
                        <textarea class="task__info-input" name="note" onchange="this.form.submit()"><%= taskInfo.note %></textarea>
                        <!-- <input class="task__info-input" type="text" name="note" value="<%= taskInfo.note %>" onChange="this.form.submit()"> -->
                    </span>
                </label>
            </form>
                <label class="list-group-item d-flex gap-3">
                    <span class="pt-1" >
                        <strong>Date created: </strong>
                        <p><%= taskInfo.dateCreated %></p>
                    </span>
                </label>
        </div>
      </div>
      <% } %>
</body>
</html>